<div class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card">
  {% comment %} BoostCommerce product item JSON data {% endcomment %}
  {% include 'bc-sf-filter-json', product: product %}

  
    <span class="visually-hidden">{{ product.title }}</span>
 

  {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
  {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
  {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

  {% unless product.featured_image == blank %}
    {% include 'image-style' with image: product.featured_image, height: max_height, wrapper_id: wrapper_id, img_id: img_id %}
  {% endunless %}

  <div class="CustomDivImagewrap">

    {% capture the_snippet_fave_icon %}{% render 'ssw-widget-faveicon' with product.id %}{% endcapture %}
    {% unless the_snippet_fave_icon contains 'Liquid error' %}
    {{ the_snippet_fave_icon }}
    {% endunless %}

      <div {% if product.images.size > 1 %}class="CustomSliderGrid"{%endif %}>
       {% comment %} FS removed
       {% if product.images.size > 1 %}
        <div class="CustomLoop">
          
        {% for image in product.images %}
         <a href="{{product.url}}">
        <img src="{{image.src | img_url : "medium" }}" />
           </a>
        {% endfor %}
          
        </div>
        {% else %}
        <a href="{{product.url}}">
        <img src="{{product.featured_image | img_url: "medium" }}">
        </a>
        {% endif %} 
        {% endcomment %}
        <a href="{{product.url}}">
        <img src="{{product.featured_image | img_url: "medium" }}">
        </a>
    </div>
    <div class="placeholder-background placeholder-background--animation" data-image-placeholder></div>
  </div>

  <noscript>
    {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
    <img class="grid-view-item__image" src="{{ product.featured_image.src | img_url: image_size, scale: 2 }}" alt="{{ product.featured_image.alt }}" style="max-width: {{ max_height | times: product.featured_image.aspect_ratio }}px;">
  </noscript>

 <div class="title_price">
  <div class="h4 grid-view-item__title product-card__title" aria-hidden="true">
    <a href="{{product.url}}">{{ product.title }}</a></div>
   <div class="CollMeta">{{ product.metafields["global"]["pro_description"] }}</div>
  {% include 'product-price', variant: product.selected_or_first_available_variant %}
     </div> 
 <div class="MobileFormat">
   <div class="grid_quantBox">
                <input type='button' value='<' class='qtyminusgrid' field='quantity' min="1" />
                <input data-idGrid="{{product.variants.first.id}}" type="text" name="quantity" value="1"  class="gridQuant" data-quantity-input>
                <input type='button' value='>' class='qtyplusgrid' field='quantity' max="{{product.variants.first.inventory_quantity}}" />     
           </div>
   <div class="AjaxCartBtnGrid">Add to cart</div>
  </div>
  <div class="AjaxAddCArt DesktopFormat">
    <div class="CustomQunt">           
    <input data-id="{{product.variants.first.id}}" type="text"  name="quantity" value="1"  class="QuantityBox" data-quantity-input>
    <div class="BothIcons">
    <input type='button' value='>' class='qtyplus' field='quantity' max="{{product.variants.first.inventory_quantity}}" />     
    <input type='button' value='<' class='qtyminus' field='quantity' min="1" />       
 </div>
    </div>
  <div class="AjaxCartBtn">Add to cart</div>
  </div>

</div>
