<ul class="site-nav list--inline" id="SiteNav">
  {% for link in linklists[section.settings.main_linklist].links %}
    {%- assign child_list_handle = link.title | handleize -%}

    {% comment %}
      Check if third-level nav exists on each parent link.
    {% endcomment %}
    {%- assign three_level_nav = false -%}
    {% if link.links != blank %}
      {% if link.levels == 2 %}
        {%- assign three_level_nav = true -%}
      {% endif %}
    {% endif %}

    {% if link.links != blank %}
      <li class="site-nav--has-dropdown{% if three_level_nav %} site-nav--has-centered-dropdown{% endif %}{% if link.active %} site-nav--active{% endif %}" data-has-dropdowns>
        <button class="site-nav__link site-nav__link--main site-nav__link--button{% if link.child_active %} site-nav__link--active{% endif %}" type="button" aria-expanded="false" aria-controls="SiteNavLabel-{{ child_list_handle }}">
          <span class="site-nav__label">{{ link.title | escape }}</span>{% include 'icon-chevron-down' %}
        </button>

        <div class="ChildrenNav site-nav__dropdown{% if three_level_nav %} site-nav__dropdown--centered{% endif %}" id="SiteNavLabel-{{ child_list_handle }}">
          {% if three_level_nav %}
            <div class="site-nav__childlist">
              
              <ul class="site-nav__childlist-grid">
                {% if link.links != blank %}
                  {% for childlink in link.links %}
                    <li class="site-nav__childlist-item">
                      <a href="{{ childlink.url }}"
                        class="site-nav__link site-nav__child-link site-nav__child-link--parent"
                        {% if childlink.current %} aria-current="page"{% endif %}
                      >
                        <span class="site-nav__label">{{ childlink.title | escape }}</span>
                      </a>

                      {% if childlink.links != blank %}
                        <ul>
                        {% for grandchildlink in childlink.links %}
                          <li>
                            <a href="{{ grandchildlink.url }}"
                            class="site-nav__link site-nav__child-link"
                            {% if grandchildlink.current %} aria-current="page"{% endif %}
                          >
                              <span class="site-nav__label">{{ grandchildlink.title | escape }}</span>
                            </a>
                          </li>
                        {% endfor %}
                        </ul>
                      {% endif %}

                    </li>
                  {% endfor %}
                {% endif %}
              </ul>
              
            </div>

          {% else %}
          <div class="LeftNav">
            <ul>
              {% for childlink in link.links %}
                <li class="CustomHoverList {% if forloop.first %} subListActive{% endif %}" data-val="CustomContains_{{forloop.index}}">
                  <a href="{{ childlink.url }}"
                  class="site-nav__link site-nav__child-link{% if forloop.last %} site-nav__link--last{% endif %}"
                  {% if childlink.current %} aria-current="page"{% endif %}
                >
                    <span class="site-nav__label">{{ childlink.title | escape }}</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="AllValue">
              <div class="RightNav ActiveContainer" data-id="CustomContains_1">
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_11}}">
                       <img src="{{section.settings.image_11 | img_url : 'original'}}" />
                        <h3> {{section.settings.menu_11}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_12}}">
                       <img src="{{section.settings.image_12 | img_url : 'original'}}" />
                        <h3> {{section.settings.menu_12}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                     <a href="{{section.settings.menu_link_13}}">
                       <img src="{{section.settings.image_13 | img_url : 'original'}}" />
                        <h3> {{section.settings.menu_13}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_14}}">
                       <img src="{{section.settings.image_14 | img_url : 'original'}}">
                        <h3> {{section.settings.menu_14}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                     <a href="{{section.settings.menu_link_15}}">
                       <img src="{{section.settings.image_15 | img_url : "original"}}" />
                        <h3> {{section.settings.menu_15}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>                
              </div>
          <div class="RightNav" data-id="CustomContains_2">
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_21}}">
                       <img src="{{section.settings.image_21 | img_url : 'original'}}" />
                        <h3> {{section.settings.menu_21}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_22}}">
                       <img src="{{section.settings.image_22| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_22}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_23}}">
                       <img src="{{section.settings.image_23| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_23}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_24}}">
                       <img src="{{section.settings.image_24| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_24}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_25}}">
                       <img src="{{section.settings.image_25| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_25}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>                
              </div>
          <div class="RightNav" data-id="CustomContains_3">
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_31}}">
                       <img src="{{section.settings.image_31| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_31}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                       <a href="{{section.settings.menu_link_32}}">
                       <img src="{{section.settings.image_32| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_32}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                       <a href="{{section.settings.menu_link_33}}">
                       <img src="{{section.settings.image_33| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_33}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                       <a href="{{section.settings.menu_link_34}}">
                       <img src="{{section.settings.image_34| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_34}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                       <a href="{{section.settings.menu_link_35}}">
                       <img src="{{section.settings.image_35| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_35}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>                
              </div>
          <div class="RightNav" data-id="CustomContains_4">
                    <div class="mm_rimgs">
                       <a href="{{section.settings.menu_link_41}}">
                       <img src="{{section.settings.image_41| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_41}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_42}}">
                       <img src="{{section.settings.image_42| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_42}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                     <a href="{{section.settings.menu_link_43}}">
                       <img src="{{section.settings.image_43| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_43}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_44}}">
                       <img src="{{section.settings.image_44| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_44}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_45}}">
                       <img src="{{section.settings.image_45| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_45}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>                
              </div>
          <div class="RightNav" data-id="CustomContains_5">
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_51}}">
                       <img src="{{section.settings.image_51| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_51}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_52}}">
                       <img src="{{section.settings.image_52| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_52}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_53}}">
                       <img src="{{section.settings.image_53| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_53}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_54}}">
                       <img src="{{section.settings.image_54| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_54}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_55}}">
                       <img src="{{section.settings.image_55| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_55}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>                
              </div>
          <div class="RightNav" data-id="CustomContains_6">
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_61}}">
                       <img src="{{section.settings.image_61| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_61}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_62}}">
                       <img src="{{section.settings.image_62| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_62}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_63}}">
                       <img src="{{section.settings.image_63| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_63}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_64}}">
                       <img src="{{section.settings.image_64| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_64}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_65}}">
                       <img src="{{section.settings.image_65| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_65}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>                
              </div>
          <div class="RightNav" data-id="CustomContains_7">
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_71}}">
                       <img src="{{section.settings.image_71| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_71}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_72}}">
                       <img src="{{section.settings.image_72| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_72}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_73}}">
                       <img src="{{section.settings.image_73| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_73}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_74}}">
                       <img src="{{section.settings.image_74| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_74}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                     <a href="{{section.settings.menu_link_75}}">
                       <img src="{{section.settings.image_75| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_75}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>                
              </div>
          <div class="RightNav" data-id="CustomContains_8">
                    <div class="mm_rimgs">
                     <a href="{{section.settings.menu_link_81}}">
                       <img src="{{section.settings.image_81| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_81}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_82}}">
                       <img src="{{section.settings.image_82| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_82}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_83}}">
                       <img src="{{section.settings.image_83| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_83}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_84}}">
                       <img src="{{section.settings.image_84| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_84}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_85}}">
                       <img src="{{section.settings.image_85| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_85}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>                
              </div>
          <div class="RightNav" data-id="CustomContains_9">
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_91}}">
                       <img src="{{section.settings.image_91| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_91}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                     <a href="{{section.settings.menu_link_92}}">
                       <img src="{{section.settings.image_92| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_92}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                       <a href="{{section.settings.menu_link_93}}">
                       <img src="{{section.settings.image_93| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_93}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_94}}">
                       <img src="{{section.settings.image_94| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_94}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_95}}">
                       <img src="{{section.settings.image_95| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_95}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>                
              </div>
          <div class="RightNav" data-id="CustomContains_10">
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_10_1}}">
                       <img src="{{section.settings.image_10_1| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_10_1}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_10_2}}">
                       <img src="{{section.settings.image_10_2| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_10_2}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_10_3}}">
                       <img src="{{section.settings.image_10_3| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_10_3}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_10_4}}">
                       <img src="{{section.settings.image_10_4| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_10_4}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>
                    <div class="mm_rimgs">
                      <a href="{{section.settings.menu_link_10_5}}">
                       <img src="{{section.settings.image_10_5| img_url : 'original'}}" />
                        <h3> {{section.settings.menu_10_5}} <b class="tlicon-arrow-lomg"></b></h3>
                      </a>
                    </div>                
              </div>
          </div>
          {% endif %}
        </div>
      </li>
    {% else %}
      <li {% if link.active %} class="site-nav--active"{% endif %}>
        <a href="{{ link.url }}"
          class="site-nav__link site-nav__link--main{% if link.active %} site-nav__link--active{% endif %}"
          {% if link.current %} aria-current="page"{% endif %}
        >
          <span class="site-nav__label">{{ link.title | escape }}</span>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
