<div class="tlt-account-main"> 
	<div class="page-width">
		<div class="tlt-account-main-head">
			<p>{{ 'customer.account.title' | t }}</p>
			<h1>Profile Settings</h1>
		</div> 
		<div class="tlt-account-main-section">
			<div class="tlt-account-main-sidebar">
				{% include "account-sidebar" %}
			</div>
			<div class="tlt-account-main-info">
              {% include "order-history" %}
				<div class="tlt-account-main-form AccountForm">
                  <div class="tlt-account-main-form-inn">
					<div class="tlt-account-main-form-row">
						<label>First name</label>
						<div class="tlt-account-main-form-field"><input type="text" value="{{customer.first_name}}" /></div>
					</div>
					<div class="tlt-account-main-form-row">
						<label>Last name</label>
						<div class="tlt-account-main-form-field"><input type="text" value="{{customer.last_name}}"/></div>
					</div>
					<div class="tlt-account-main-form-row">
						<label>Email</label>
						<div class="tlt-account-main-form-field"><input type="text" value="{{customer.email}}"/></div>
					</div>
					{% comment %} <div class="tlt-account-main-form-row tlt-account-main-form-row-gap">
						<label>Gender</label>
						<div class="tlt-account-main-form-field">
              <select>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
					</div> {% endcomment %}
					{% comment %} <div class="tlt-account-main-form-row">
						<label>Company name</label>
						<div class="tlt-account-main-form-field"><input type="text" value="Test"/></div>
					</div> {% endcomment %}
					{% comment %} <div class="tlt-account-main-form-row">
						<label>Business name</label>
						<div class="tlt-account-main-form-field"><input type="text" value="Test"/></div>
					</div> {% endcomment %}
					{% comment %} <div class="tlt-account-main-form-row">
						<label></label>
						<div class="tlt-account-main-form-field tlt-account-main-form-btn"><input type="button" value="Save changes"/></div>
					</div> {% endcomment %}
          </div>
				</div>
			</div>
		</div>
	</div>
</div>

{%comment%}
<div class="page-width">
  <div class="section-header text-center">
    <h1>{{ 'customer.account.title' | t }}</h1>
    {{ 'layout.customer.log_out' | t | customer_logout_link }}
  </div>

  <div class="grid myaccount">
    <div class="grid__item myaccount__order-history">
      <h2>{{ 'customer.orders.title' | t }}</h2>

      {% paginate customer.orders by 20 %}
        {% if customer.orders.size != 0 %}

          <table class="responsive-table">
            <thead>
              <tr>
                <th scope="col">{{ 'customer.orders.order_number' | t }}</th>
                <th scope="col">{{ 'customer.orders.date' | t }}</th>
                <th scope="col">{{ 'customer.orders.payment_status' | t }}</th>
                <th scope="col">{{ 'customer.orders.fulfillment_status' | t }}</th>
                <th scope="col">{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {% for order in customer.orders %}
                <tr>
                  <th data-label="{{ 'customer.orders.order_number' | t }}" scope="row">
                    <a href="{{ order.customer_url }}" class="btn btn--secondary btn--small" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">{{ order.name }}</a>
                  </th>
                  <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | time_tag: format: 'date' }}</td>
                  <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                  <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                  <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        {% else %}

          <p>{{ 'customer.orders.none' | t }}</p>

        {% endif %}
        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}
      {% endpaginate %}
    </div>
    <div class="grid__item myaccount__account-details">
      <h2>{{ 'customer.account.details' | t }}</h2>

      {{ customer.default_address | format_address }}

      <p><a href="{{ routes.account_addresses_url }}" class="btn btn--small">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
    </div>
  </div>
</div>
{%endcomment%}