<div class="WrapperCustomPro">
  <div class="page-widthCustom">
   {% if section.settings.heading != blank %}
    <div class="section-header text-center">
      <h2>{{ section.settings.heading | escape }}</h2>
      
     {% endif %}
       {% if section.settings.subheading != blank %}
        <div class="section-description text-center">
            <p>{{ section.settings.subheading }}</p>
        </div>
      {% endif %}
      
    </div>

    <ul class="CustomListFields">
      <li>
      <div class="clfimg">
        <img src="{{section.settings.image | img_url : "original" }}" />
        </div>  
        <h3 Class="">{{section.settings.title}}</h3>
        <p>{{section.settings.description}}</p>
      </li>
      
      <li>
      <div class="clfimg">
        <img src="{{section.settings.image_1 | img_url : "original"}}" />
      </div>  
        <h3 Class="">{{section.settings.title_1}}</h3>
        <p>{{section.settings.description_1}}</p>
      </li>
      
      <li>        
        <div class="clfimg">
         <img src="{{section.settings.image_2 | img_url : "original"}}" />
        </div>  
        <h3 Class="">{{section.settings.title_2}}</h3>
        <p>{{section.settings.description_2}}</p>
      </li>      
    </ul>
  </div>
</div>
{% schema %}
  {
    "name": "Custom Product Field",
"class": "CustomProFields",
    "settings": [
{
      "type": "text",
      "id": "heading",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading"
      },
      "default": {
        "da": "Tekstkolonner med billeder",
        "de": "Textspalten mit Fotos",
        "en": "Text columns with images"
      }
    },
 {
      "type": "textarea",
      "id": "subheading",
      "label": {
        "da": "Sub Heading",
        "de": "Sub Heading",
        "en": "Sub Heading"
      },
      "default": {
        "da": "Tekstkolonner med billeder",
        "de": "Textspalten mit Fotos",
        "en": "Text columns with images"
      }
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image"
      },
"info": {
"da": "523 x 435px .png recommended",
"de": "523 x 435px .png recommended",
"en": "523 x 435px .png recommended"
}
    },
{
      "type": "text",
      "id": "title",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Title"
      },
      "default": {
        "da": "Tekstkolonner med billeder",
        "de": "Textspalten mit Fotos",
        "en": "Text columns with images"
      }
    },
 {
      "type": "textarea",
      "id": "description",
      "label": {
        "da": "Sub Heading",
        "de": "Sub Heading",
        "en": "Description"
      },
      "default": {
        "da": "Tekstkolonner med billeder",
        "de": "Textspalten mit Fotos",
        "en": "Description"
      }
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": {
        "da": "Billede",
        "de": "Foto",
        "en": "Top Image"
      },
"info": {
"da": "523 x 435px .png recommended",
"de": "523 x 435px .png recommended",
"en": "523 x 435px .png recommended"
}
    },
{
      "type": "text",
      "id": "title_1",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Title"
      },
      "default": {
        "da": "Tekstkolonner med billeder",
        "de": "Textspalten mit Fotos",
        "en": "Text columns with images"
      }
    },
 {
      "type": "textarea",
      "id": "description_1",
      "label": {
        "da": "Sub Heading",
        "de": "Sub Heading",
        "en": "Description"
      },
      "default": {
        "da": "Tekstkolonner med billeder",
        "de": "Textspalten mit Fotos",
        "en": "Description"
      }
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": {
        "da": "Billede",
        "de": "Foto",
        "en": "Bottom Image"
      },
"info": {
"da": "523 x 435px .png recommended",
"de": "523 x 435px .png recommended",
"en": "523 x 435px .png recommended"
}
    },
{
      "type": "text",
      "id": "title_2",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Title"
      },
      "default": {
        "da": "Tekstkolonner med billeder",
        "de": "Textspalten mit Fotos",
        "en": "Text columns with images"
      }
    },
 {
      "type": "textarea",
      "id": "description_2",
      "label": {
        "da": "Sub Heading",
        "de": "Sub Heading",
        "en": "Description"
      },
      "default": {
        "da": "Tekstkolonner med billeder",
        "de": "Textspalten mit Fotos",
        "en": "Description"
      }
    }

]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
