  {% comment %}
<div class="section-header text-center">
    <h1>{{ page.title }}</h1>
</div>
  {% endcomment %}



<div class="grid cst_cntctpage">     
  
    <div class="grid__item medium-up--one-half cntct_left">
     <img src="https://cdn.shopify.com/s/files/1/0276/5632/3151/files/hero-contact.png">
    </div>
  
    <div class="grid__item medium-up--one-half cntct_leftMob">
     <img src="https://cdn.shopify.com/s/files/1/0276/5632/3151/files/contact_ftr.jpg">
    </div>
  
    <div class="grid__item medium-up--one-half contct_ryt">
      {% if page.content.size > 0 %}
        <div class="rte">
          {{ page.content }}
        </div>
      {% endif %}
            
      <div class="hwcnhlp">
          <div class="getintch">
            <h1>How can we help?</h1>
            <p>Get in touch. We’ll be glad to hear from you and help with any inquiry you might have</p>
          </div> 
         <address>
            <p><span class="tlicon-email"></span> <b>sales@toplandtrading.com</b></p>
            <p><span class="tlicon-phone"></span> <b>(360) 671-2116</b></p>
            <p><span class="tlicon-location"></span> 
                <b>1640 Jill’s Ct.<br>
                  Irongate Business Park<br>
                  Bellingham, WA 98226<br>
                  f: (360) 676-7817
                </b>
              </p>
         </address>
      </div>

      <div class="contact-form form-vertical">
        {%- assign formId = 'ContactForm' -%}
        {% form 'contact', id: formId %}
          {% include 'form-status', form_id: formId %}

          <div class="cntctFrmMain">
            <div class="grid__item medium-up--one-whole cntctFrm">
              <label for="{{ formId }}-name">{{ 'contact.form.name' | t }}<span aria-hidden="true">*</span></label>
              <input required="required" placeholder="Enter your name" type="text" id="{{ formId }}-name" name="contact[name]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
            </div>
            <div class="grid__item medium-up--one-whole cntctFrm">
              <label for="{{ formId }}-email">{{ 'contact.form.email' | t }} <span aria-hidden="true">*</span></label>
              <input  required="required" placeholder="Enter your email address"
                type="email"
                id="{{ formId }}-email"
                name="contact[email]"
                autocorrect="off"
                autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true"
                {%- if form.errors contains 'email' -%}
                  class="input--error"
                  aria-invalid="true"
                  aria-describedby="{{ formId }}-email-error"
                {%- endif -%}
                >
              {%- if form.errors contains 'email' -%}
                <span id="{{ formId}}-email-error" class="input-error-message">
                  <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                  {% include 'icon-error' %}
                  <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                </span>
              {%- endif -%}
            </div>
       
         <div class="grid__item medium-up--one-whole cntctFrm">
          <label for="{{ formId }}-subject">Subject<span aria-hidden="true">*</span></label>
          <input  required="required" placeholder="Enter mesage subject" type="text" id="{{ formId }}-subject" name="contact[subject]"  value="{% if form[subject] %}{{ form[subject] }}{% elsif customer %}{{ customer.subject }}{% endif %}">
        </div>
        
        <div class="grid__item medium-up--one-whole cntctFrm">
          <label for="{{ formId }}-message">{{ 'contact.form.message' | t }}<span aria-hidden="true">*</span></label>
          <textarea  required="required" placeholder="Message" rows="10" id="{{ formId }}-message" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
        </div>
        
        <div class="sbmtbtnC">
          <input type="submit" class="btn" value="{{ 'contact.form.submit' | t }}">
        </div>  

        {% endform %}
      </div>
     </div>
      
       <div class="addrzmobile">
         <address>
            <p><span class="tlicon-email"></span> <b>sales@toplandtrading.com</b></p>
            <p><span class="tlicon-phone"></span> <b>(360) 671-2116</b></p>
            <p><span class="tlicon-location"></span> 
                <b>1640 Jill’s Ct.<br>
                  Irongate Business Park<br>
                  Bellingham, WA 98226<br>
                  f: (360) 676-7817
                </b>
              </p>
         </address>
      </div> 
      
    </div>    
</div>